body {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 264px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "sidebar navbar"
        "sidebar main"
        "sidebar footer";
}
nav {
    z-index: 999;
    top: 0;
    position: sticky;
    grid-area: navbar;
    /* background-color: var(--color-primary);*/
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
}
nav .welcome-message {
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
nav form button {
    font-size: 14px;
    line-height: 17px;
    gap: 8px;
    display: flex;
    align-items: center;
}
aside {
    height: 100dvh;
    top: 0px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: var(--color-primary-10);
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
aside .logo {
    overflow: hidden;
    height: 60px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
aside .logo img {
    height: 90px;
    object-fit: cover;
    object-position: center;
}
aside .division {
    min-height: 2px;
    height: 2px;
    max-height: 2px;
    width: 100%;
    background-color: var(--color-primary-20);
}
aside .sidebar-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .sidebar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
aside .sidebar-links ul a {
    text-decoration: none;
}
aside .sidebar-links ul a li {
    padding: 12px 16px 12px 14px;
    display: flex;
    direction: row;
    gap: 14px;
    border-radius: 7px;
    background-color: transparent;

    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: var(--color-primary-80);

    transition: background-color 0.2s ease-in-out;
}
aside .sidebar-links ul a li:hover {
    background-color: var(--color-primary-20);
}
aside .sidebar-links ul a li.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}
main {
    grid-area: main;
    padding: 0px 16px 20px 16px;
}
footer {
    grid-area: footer;
}
.showSidebar-btn {
    display: none;
}

@media (max-width: 896px) {
    body {
        grid-template-columns: 0 1fr;
    }
    aside {
        z-index: 1000;
        position: sticky;
        width: 300px;
        display: none;
    }
    .show {
        display: block;
    }
    .showSidebar-btn {
        display: block;
    }
}
